<ngx-datatable
  class="material"
  [rows]="this.rows | gridFilter: this.filters"
  (click)="closeOtherMenus($event)"
  columnMode="force"
  [selectionType]="'checkbox'"
  (select)="onSelect($event)"
  [messages]="messages"
  (sort)="sortOccured($event)"
  [sorts]="initialSorts"
  [headerHeight]="70"
  [footerHeight]="35"
  [limit]="pageSize"
  rowHeight="auto">
  <!-- Multiselect Checkbox Column -->
  <ngx-datatable-column *ngIf="selectedRows != undefined" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
      <app-filter-container [label]="'&nbsp;'">        
        <!-- <input style="display:block;margin-top:7px;" input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/> -->
        <mat-checkbox input [value]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
      </app-filter-container>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
      <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
      <!-- <input type="checkbox" [checked]="isSelected"  (change)="onCheckboxChangeFn($event)"/> -->
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngFor="let c of this.columns" [ngSwitch]="c.type" [name]="c.name" [prop]="c.prop" [maxWidth]="c.maxWidth" [minWidth]="c.maxWidth">
    <!-- Column Filter Headers -->
    <!-- <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn"> -->
    <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
      <app-string-filter *ngSwitchCase="'string'" [displayName]="c.name" [name]="c.prop" (filter)="this.applyFilter($event)" (sortFn)="sort()" [sorts]="sorts">
      </app-string-filter>
      <app-number-filter *ngSwitchCase="'number'" [displayName]="c.name" [name]="c.prop" (filter)="this.applyFilter($event)" (sortFn)="sort()" [sorts]="sorts">
      </app-number-filter>
      <app-bool-filter *ngSwitchCase="'bool'" [displayName]="c.name" [name]="c.prop" (filter)="this.applyFilter($event)" (sortFn)="sort()" [sorts]="sorts">
      </app-bool-filter>
      <app-list-filter *ngSwitchCase="'list'" [displayName]="c.name" [name]="c.prop" [list]="c.list" (filter)="this.applyFilter($event)" (sortFn)="sort()" [sorts]="sorts">
      </app-list-filter>
      <app-date-filter *ngSwitchCase="'date'" [displayName]="c.name" [name]="c.prop" (filter)="this.applyFilter($event)" (sortFn)="sort()" [sorts]="sorts">
      </app-date-filter>
    </ng-template>
    <!-- Row Templates  -->
    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
      <!-- Link Column Templates -->
      <div *ngIf="c.link != null && c.linkProp != null">
        <a [routerLink]="[c.link, row[c.linkProp]]" *ngSwitchCase="'list'">{{this.findInList(c.list, value)}}</a>
        <a [routerLink]="[c.link, row[c.linkProp]]" *ngSwitchCase="'bool'">{{value}}</a>
        <a [routerLink]="[c.link, row[c.linkProp]]" *ngSwitchCase="'string'">{{value}}</a>
        <a [routerLink]="[c.link, row[c.linkProp]]" *ngSwitchCase="'number'">{{value}}</a>
        <a [routerLink]="[c.link, row[c.linkProp]]" *ngSwitchCase="'date'">{{value}}</a>
        <!--  -->
      </div>
      <!-- Inline Edit Templates -->
      <div *ngIf="c.inlineEdit">
        <app-inline-edit-string *ngSwitchCase="'string'" [actionType]="c.actionType" [constraints]="c.constraints" [column]="c" [row]="row" [value]="value">
        </app-inline-edit-string>
        <app-inline-edit-number *ngSwitchCase="'number'" [column]="c" [row]="row" [value]="value">
        </app-inline-edit-number>
        <app-inline-edit-bool *ngSwitchCase="'bool'" [column]="c" [row]="row" [value]="value">
        </app-inline-edit-bool>
        <app-inline-edit-list *ngSwitchCase="'list'" [column]="c" [row]="row" [value]="value">
        </app-inline-edit-list>
        <app-inline-edit-date *ngSwitchCase="'date'" [column]="c" [row]="row" [value]="value">
        </app-inline-edit-date>
      </div>
      <!-- Display Value Templates -->
      <div *ngIf="c.link == null && c.linkProp == null && c.inlineEdit == null" (dblclick)="this.clickRow(row)">
        <span [title]="this.findInList(c.list, value)" *ngSwitchCase="'list'">{{this.findInList(c.list, value)}}</span>
        <input *ngSwitchCase="'bool'" type="checkbox" [checked]="value" disabled="disabled" />
        <div *ngSwitchCase="'string'" class="context-menu-container">
          <span [title]="value" class="context-menu-value">{{value}}</span>

          <button *ngIf="c.contextMenu" mat-icon-button (click)="openDropdown(c, row, rowIndex, $event)">
            <mat-icon>more_vert</mat-icon>
            <div #anchor id="outlet_{{rowIndex}}" style="display:inline-block"></div>
          </button>          
        </div>
        <span [title]="value" *ngSwitchCase="'number'">{{value}}</span>
        <span [title]="convertDate(value, c.dateformat)" *ngSwitchCase="'date'">{{convertDate(value, c.dateformat)}}</span>
      </div>

      <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let a of c.actions" (click)="a.action(row)" >
            <!-- hier noch ein icon vorsehen! -->
            <span>{{a.display}}</span>        
          </button>
        
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <!-- 
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button> -->
        </mat-menu>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
