input {
    border: 0;
    border-bottom: 1px solid rgba(128,128,128,0.5);
    padding: 4px;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
}

input:focus {
    outline: none;
    border-bottom: 1px solid rgba(128,128,128,1);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}