<app-filter-container (sortFn)="triggerSort()" [label]="this.displayName">
  <app-filter-input-readonly input
    (action)="this.toggleMenu()"
    [value]="this.displayValue">
  </app-filter-input-readonly>
  <app-filter-button buttons
    (action)="this.toggleMenu()"
    assetUrl="assets/filter.png">
  </app-filter-button>
  <app-filter-button buttons
    [ngStyle]="this.getClearButtonStyle(this.values)"
    (action)="this.clearFilter()"
    assetUrl="assets/notfilter.png">
  </app-filter-button>
  <app-filter-menu menu [show]="this.showMenu">
    <app-multiple-filter-menu 
        [values]="this.list"
        (onSelect)="this.setValues($event)"
        >
    </app-multiple-filter-menu>
  </app-filter-menu>
</app-filter-container>