<app-filter-container [label]="this.displayName">
        <app-filter-input-string input [value]="this.value" (action)="this.doFilter($event)">
        </app-filter-input-string>
        <app-filter-button buttons
            (action)="this.toggleMenu()"
            assetUrl="assets/filter.png">
        </app-filter-button>
        <app-filter-button buttons
            [ngStyle]="this.getClearButtonStyle(this.value)"
            (action)="this.clearFilter()"
            assetUrl="assets/notfilter.png">
        </app-filter-button>
        <app-filter-menu menu [show]="this.showMenu">
                <app-simple-filter-menu 
                [values]="this.filterModes"
                (onSelect)="this.setMode($event)">
            </app-simple-filter-menu>
        </app-filter-menu>
    </app-filter-container>