<app-section header="Inhalt" collapsible="true">
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
  <div>Ich bin der Inhalt</div>
</app-section>

<app-render-grid></app-render-grid>

<!-- <p>moin</p> -->
<!-- <app-section header="Inhalt">
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
    <div>Ich bin der Inhalt</div>
  </app-section> -->
  <p>Ich bin ein P. Ich sollte mit hoch wandern</p>
