<app-filter-container (sortFn)="triggerSort()" [sorts]="sorts" [name]="name" [label]="this.displayName">
    <app-filter-input-readonly input
        (action)="this.toggleMenu($event)" 
        [value]="this.displayValue">
    </app-filter-input-readonly>
    <app-filter-button buttons
        (action)="this.toggleMenu($event)"
        assetUrl="assets/filter.png">
    </app-filter-button>
    <app-filter-button buttons 
        [ngStyle]="this.getClearButtonStyle(this.value)"
        (action)="this.clearFilter()"
        assetUrl="assets/notfilter.png">
    </app-filter-button>
    <app-filter-menu menu [show]="this.showMenu">
        <app-simple-filter-menu 
            [values]="this.filterModes"
            (onSelect)="this.setMode($event)">
        </app-simple-filter-menu>
    </app-filter-menu>
</app-filter-container>