.container {
  /* margin: 15px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.header {
  font-weight: 600;
  background-color: white;
  color: black;
  padding: 7.5px 15px;
  user-select: none;
  border-bottom: 1px solid rgba(200,200,200,0.1);
}

.content {
  background-color: white;
  color: black;
  padding: 7.5px 15px;
}

.toggle {
  cursor: pointer;
}

.toggle:hover {
  background-color: rgba(200,200,200,0.1);
}
