/* You can add global styles to this file, and also import other style files */

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  padding: 0;
  margin: 8px;

  font-family: sans-serif;
}

 .datatable-header {
  overflow: visible!important;
  height: auto;
}

.datatable-header-cell {
  overflow: visible!important;
  padding: 0px!important;
}

.datatable-row-center {
  transform: none!important;
}

.ngx-datatable {
  overflow: visible!important;
}

.datatable-body-cell {
  padding: 5px!important;
}

input[type=text]::-ms-clear {
  display: none;
}