<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551.95 293.49" [@arrowState]="this.state">
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 40px;
        fill-rule: evenodd;
      }
    </style>
  </defs>
  <title>Element 1</title>
  <g id="Ebene_2" data-name="Ebene 2">
    <g id="Ebene_1-2" data-name="Ebene 1">
      <path class="cls-1" d="M20,20,271.73,271.73a6,6,0,0,0,8.49,0L532,20" />
    </g>
  </g>
</svg>
